---
export const prerender = false;

import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const team = await getCollection("team");
const posts = await getCollection(
  "posts",
  ({ data }) => data.isDraft === false
);
---

<BaseLayout title="About">
  <h1>About</h1>
</BaseLayout>
